@using UpSkill.Infrastructure.Models.Dashboard
@if (model == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="row">
        @foreach (var course in model.Courses)
        {
            <CourseCard Course="course" />
        }
    </div>
}
@code {

    private EmployeeDashboardModel model;

    [CascadingParameter]
    public Task<AuthenticationState> user { get; set; }

    protected override async Task OnInitializedAsync()
    {

        if (user.Role().Result == GlobalConstants.EmployeeRoleName)
        {
            model = await Client.GetFromJsonAsync<EmployeeDashboardModel>($"Dashboard/GetEpEmployeeDashboardInfoAsync?appUserId={user.Id().Result}");
        }
    }

}
