div#courseCatalogGrid {
    max-width: 80%;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 6em;
    row-gap: 1em;
}

div#addCourseButton{
    align-items: center; 
}
