<div class="mx-auto">
    <table class="table table_custom table-borderless">
        <thead class="head">
            <tr class="">
                <th class="cell-header ">
                    Invoice Status
                </th>
                <th class="separator">

                </th>
                <th class="cell-header ">
                    Due Date
                </th>
                <th class="separator">

                </th>
                <th class="cell-header">
                </th>
                @*<th class="separator">

                </th>
                <th class="cell-header">
                    Coaches
                </th>
                <th class="separator">

                </th>*@
            </tr>
        </thead>

        <tbody>
            <tr class="">
                <td class="cell first_col">
                    @invoiceStatus
                </td>
                <td>
                </td>
                <td class="cell first_col">
                    @invoiceDueDate
                </td>
                <td>
                </td>
                <td class="cell third_col">
                    <a id="exportButton" href="/">
                        Export
                    </a>
                </td>
                <td>
                </td>
                @*<td class="cell second_col">
                    @stats.CoachesNum
                </td>
                <td>
                </td>*@
            </tr>
        </tbody>
    </table>
</div>

@code {
    private string invoiceDueDate;

    private string invoiceStatus;

    [Parameter]
    public int MonthNum { get; set; }


    protected override void OnParametersSet()
    {
        var now = DateTime.Now;

        var daysInMonth = DateTime.DaysInMonth(now.Year, MonthNum);

        if(now.Month <= MonthNum)
        {
            invoiceStatus = "Pending";
        }
        else
        {
            invoiceStatus = "Paid";
        }

        this.invoiceDueDate = $"{daysInMonth}.{MonthNum}.{now.Year}";
    }
}
