<div class="modal fade show" style="display:block; background-color: rgba(10,10,10,.8);"
     aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="row modal-header-custom">
                <div class="add-emp-text">Add Employees</div>
                <div @onclick="ClosePopup" class="close header-btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </div>
                <div class="upload-csv-file-btn">
                    <div class="upload-csv-file-btn-text">
                        Upload CSV file
                    </div>
                </div>
            </div>
            <div>
                <EditForm Model="@EmployeeFormModel" OnValidSubmit="() => { }">
                    <DataAnnotationsValidator />
                    <InputText @bind-Value="EmployeeFormModel.FullName" placeholder="Full Name*"></InputText>
                    <ValidationMessage For="@(() => EmployeeFormModel.FullName)"></ValidationMessage>
                    <InputText @bind-Value="EmployeeFormModel.Email" placeholder="Email Address*"></InputText>
                    <ValidationMessage For="@(() => EmployeeFormModel.Email)"></ValidationMessage>
                </EditForm>
            </div>
            <div class="add-another-one-employee">
                + Add another employee
            </div>
            <div class="col-6 cancel-btn">
                <div class="cancel-btn-text">
                    Cancel
                </div>
            </div>
            <div class="col-6 save-btn">
                <div class="save-btn-text">
                    Save
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback<bool> SetShow { get; set; }

    private AddEmployeeFormModel EmployeeFormModel = new();

    private void ClosePopup()
    {
        SetShow.InvokeAsync(false);
    }

}
