<h3>Admin Dashboard</h3>

<div class="mx-auto">
    <table class="table table_custom table-borderless">
        <thead class="head">
            <tr class="">
                <th class="cell-header ">
                    Clients
                </th>
                <th class="separator">

                </th>
                <th class="cell-header ">
                    Revenue
                </th>
                <th class="separator">

                </th>
                <th class="cell-header">
                    Courses
                </th>
                <th class="separator">

                </th>
                <th class="cell-header">
                    Coaches
                </th>
                <th class="separator">

                </th>
            </tr>
        </thead>

        <tbody>
            <tr class="">
                <td class="cell first_col">
                    64
                </td>
                <td>
                </td>
                <td class="cell first_col">
                    1245
                </td>
                <td>
                </td>
                <td class="cell third_col">
                    28
                </td>
                <td>
                </td>
                <td class="cell second_col">
                    13
                </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@code {

}
