@inject NavigationManager NavigationManager

<AuthorizeView>
    <div class="avatar-container" @onclick=@(() => RedirectToPage("/admin/profile"))>
        <i class="my-2 d-flex justify-content-around">
            <span class="justify-content-center align-self-center">
                @user.FullName().Result[0]
            </span>
        </i>
    </div>
</AuthorizeView>


@code{
    [CascadingParameter]
    public Task<AuthenticationState> user { get; set; }

    private void RedirectToPage(string pagePath)
    {
        NavigationManager.NavigateTo(pagePath);
    }
}