<h3>AdminClientsStatistics</h3>

<RadzenChart>
    @*<RadzenLineSeries Data="" Title="Number of Clients" LineType="LineType.Solid" CategoryProperty="Month">

    </RadzenLineSeries>*@
</RadzenChart>

@code {
    // private ICollection<Company> allClients = new List<Company>();

    //var yearlyClients = allClients.Where(c => c.CreatedOn.Year == 2021)

    //public class Company
    //{
    //    public int Id { get; set; }
    //    public string Name { get; set; }
    //    public DateTime CreatedOn { get; set; }
    //}
}
