@inject NavigationManager NavigationManager

<AuthorizeView>
    <div class="avatar-container" @onclick=@(() => RedirectToPage("/Dashboard"))>
        <i class="my-2 d-flex justify-content-around">
            <span class="justify-content-center align-self-center">
                @*Replace with first letter of user full name*@
                C
            </span>
        </i>
    </div>
</AuthorizeView>


@code{
    private void RedirectToPage(string pagePath)
    {
        NavigationManager.NavigateTo(pagePath);
    }
}