<form>
    <div class="query-panel row">
        <section class="col-4">
            <h2 class="section-title">Categories</h2>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label" for="defaultCheck1">Art</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label" for="defaultCheck1">Design</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label" for="defaultCheck1">Marketing</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label" for="defaultCheck1">Leadership</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label" for="defaultCheck1">Personal Development</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label" for="defaultCheck1">Data Science</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label" for="defaultCheck1">Computer Science</label>
            </div>
        </section>
        <div class="vertical-separator col-1"></div>
        <section class="languages col-4">
            <h2 class="section-title">Languages</h2>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label" for="defaultCheck1">English</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label" for="defaultCheck1">Spanish</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label" for="defaultCheck1">German</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label" for="defaultCheck1">French</label>
            </div>
        </section>
        <section class="col-3">
            <img class="coach-catalog-img" src="images/coachesCatalog/CoachCatalogCheckboxImg.svg">
        </section>
    </div>
</form>
