<div class="coach-card ml-3 mr-3 mb-3">
    <img class="coach-img text-center" src="https://image.freepik.com/free-photo/young-beautiful-woman-pink-warm-sweater-natural-look-smiling-portrait-isolated-long-hair_285396-896.jpg" alt="Alternate Text" />
    <div class="row mt-4">
        <div class="col">
            <div class="coach-title">
                Management
            </div>
            <div class="coach-price">
                80€ per person
            </div>
        </div>
        <div class="col">
            <div class="coach-name">
                Timmy Ramsey
            </div>
            <img class="coach-comp-logo" src="https://uvmbored.com/wp-content/uploads/2015/10/2919654-5611940169-Googl-600x246.png" alt="Alternate Text" />
        </div>
    </div>
    <div class="text-center mt-2">
        <button class="coach-btn"><span class="btn-text">Remove</span></button>
    </div>
</div>


@code {

}
