.coach-company-logo {
    max-width: 80%;
    max-height: 80%;
}

.coach-profession {
    font: normal bold 70% Montserrat;
    letter-spacing: 0.7px;
    color: #000000;
    opacity: 1;
}

.coach-name {
    font: 75% Montserrat;
    letter-spacing: 0.7px;
    color: #000000;
    opacity: 1;
}

.coah-price {
    font: 65% Montserrat;
    letter-spacing: 0.7px;
    color: #296CFB;
    opacity: 1;
}

.coach-btn {
    background: #296CFB 0% 0% no-repeat padding-box;
    border: none;
    margin-top: 1em;
    opacity: 1;
    color: white;
    padding: 0.25em;
}

.coach-btn-text {
    font: 95% Montserrat;
    letter-spacing: 1.1px;
    color: #FFFFFF;
    opacity: 1;
}

.custom-coach-card {
    box-shadow: 0px 3px 10px #00000029;
}

.img-custom {
    cursor: pointer;
    top: -13%;
    width: 89%;
    height: 113%;
    left: 5%;
    position: absolute;
}

.card-img-top-custom {
    height: 150px;
    width: 287px;
    background-color: #1CC18A;
    padding-left: 10px;
    position: relative;
    left: -6%;
}
