.course-title-in-image {
    position: relative;
    top: -55%;
    font: 800 120% Montserrat;
    color: #FFFFFF;
}
.coach-company-logo {
    max-width: 80%;
    max-height: 80%;
}

.coach-profession {
    font: normal bold 70% Montserrat;
    letter-spacing: 0.7px;
    color: #000000;
    opacity: 1;
}

.coach-name {
    font: 75% Montserrat;
    letter-spacing: 0.7px;
    color: #000000;
    opacity: 1;
}

.coah-price {
    font: 65% Montserrat;
    letter-spacing: 0.7px;
    color: #296CFB;
    opacity: 1;
}

.coach-btn {
    background: #296CFB 0% 0% no-repeat padding-box;
    border: none;
    margin-top: 1em;
    opacity: 1;
    width: 50%;
}

.coach-btn-text {
    font: 95% Montserrat;
    letter-spacing: 1.1px;
    color: #FFFFFF;
    opacity: 1;
}

.custom-course-card {
    box-shadow: 0px 3px 10px #00000029;
}

.img-custom {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.card-img-top-custom {
    height: 150px;
    width: 287px;
    position: relative;
    left: -6%;
}
