<div class="row">
    <div class="col">
        <div class="get-started-title">
            Courses
        </div>
        <div class="get-started-content col-8">
            Upskill’s goal is to inspire you to master your technical and personal skills and give you the opportunity to gain knowledge from top specialists in various fields.
        </div>
    </div>
    <div class="col get-started-img-background">
        <img src="/images/CoursesTopImage.svg" class="get-started-img img-fluid" />
    </div>
</div>