 /* Specicifity issues  */

 article.card {
     font: normal normal medium 18px/22px Montserrat;
     text-align: center;
     letter-spacing: 0.9px;
     color: #000000;
 }

 p.resource-name {
     /* font-weight: bold; */
 }

 p.resource-price {
     color: #296CFB;
 }

 img.resource-image {
     filter: brightness(70%);
 }

 button.btn.remove {
     font-size: 1.5em;
 }
