<div class="everything d-none d-sm-block">
    <img src="images/CoursesTopBackground.svg" class="BlueBackground" alt="Responsive Background">
    <img src="images/CoursesTopImage.svg" class="MockUp" alt="Responsive Mock Up">

    <div class="Courses">
        Courses
    </div>

    <div class="TextInfo col-3">
        Upskill’s goal is to inspire you to master your technical and personal skills and give you the opportunity to gain knowledge from top specialists in various fields.
    </div>
</div>