<div class="col-sm-12 col-md-6 col-lg-4 mb-2 p-md-2 p-lg-5">
    <article class="card p-0 shadow">
        <div class="text-center resource-top d-flex justify-content-center align-items-center">
            <span class="position-absolute text-white display-4 resource-title font-weight-bold mx-auto">Marketing</span>
            <img class="card-img-top resource-image" src="images/course-marketing.png" alt="Recipe image">
        </div>
        <div class="card-body">
            <div class="row p-2">
                <span class="course col-6 subtitle text-left">
                    <p class="card-subtitle resource-name font-weight-bold">Marketing</p>
                    <p class="card-subtitle resource-price">80€ per person</p>
                </span>
                <span class=" coach col-6 subtitle text-right">
                    <p class="card-subtitle resource-author">Jim Wilber</p>
                    <img class="img-responsive company-logo" src="images/logo-google.png" alt="">
                </span>
            </div>
            <div class="row pb-2">
                <button class="btn btn-primary mx-auto remove">Remove</button>
            </div>
        </div>
    </article>
</div>

<style>
 article.card {
     font: normal normal medium 18px/22px Montserrat;
     text-align: center;
     letter-spacing: 0.9px;
     color: #000000;
 }

 p.resource-name {
     /* font-weight: bold; */
 }

 p.resource-price {
     color: #296CFB;
 }

 img.resource-image {
     /* opacity: 0.7; */
 }

 button.btn.remove {
     font-size: 1.5em;
 }
</style>

@code {}

@* div.grid-thingy {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "course coach"
    "remove remove";
    }

    span.course {
    grid-area: left;
    }

    span.coach {
    grid-area: right;
    align-self: center;
    }

    button.remove {
    grid-area: remove;

    } *@
