<div class="modal fade show" style="display:block; background-color: rgba(10,10,10,.8);"
     aria-modal="true">

    <div class="wrapper mx-auto">

        <div @onclick="ClosePopup" class="myclose" data-dismiss="modal" aria-label="Close">
            <span class="btn-close" aria-hidden="true">&times;</span>
        </div>

        <div class="title">

            <h2 class="course-title">
                MARKETTING
            </h2>

            <div class="avatar-container">
                <i class="avatar"></i>
                <div class="creator">
                    <div>
                        Created by
                    </div>
                    <div style="font-weight: bold;">
                        Jim Wilber
                    </div>
                    <div class="company">
                        Google
                    </div>
                </div>
            </div>
        </div>

        <div class="description">
            <div class="sub-title">Course Description</div>
            <p>
                This course emphasizes the fundamental language skills of reading, writing, speaking, listening, thinking, viewing and presenting, and more thinking, listening and speaking and love-making!
            </p>
        </div>

        <div class="skills">
            <div class="sub-title">What you will learn</div>
            <div class="skill">
                Learn more information about Digital Marketing
            </div>
            <div class="skill">
                Improve your strategic skills
            </div>
            <div class="skill">
                Solve problems
            </div>
        </div>

        <div class="side-container">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/v5KzBPUEgGQ?list=PL4-IK0AVhVjPv5tfS82UF_iQgFp4Bl998" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="course-summary">
                <div class="sub-title">This course includes</div>

                <div class="summary-bullet">
                    <img class="icon" src="/images/courseDescription/tv-solid.svg" /> 24 hours on-demand video
                </div>

                <div class="summary-bullet">
                    <img class="icon" src="/images/courseDescription/file-alt-regular.svg" /> 23 lectures
                </div>

                <div class="summary-bullet">
                    <img class="icon" src="/images/courseDescription/infinity-solid.svg" />
                    Full lifetime access
                </div>

                <div class="summary-bullet">
                    <img class="icon" src="/images/courseDescription/trophy-solid.svg" /> Certificate of completion
                </div>

            </div>
            <div>
                <btn class="btn-enroll" @onclick="Enroll">Enroll</btn>
            </div>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public EventCallback<bool> SetShow { get; set; }

    private void ClosePopup()
    {
        SetShow.InvokeAsync(false);
    }

    private void Enroll()
    {

    }
}

