<div class="modal fade show container modal-custom" style="display:block; background-color: rgba(10,10,10,.8);"
     aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="row modal-header-custom">
                <div class="modal-header-title">Personal Information</div>
                <div @onclick="ClosePopup" class="close header-btn" data-dismiss="modal" aria-label="Close">
                    <span style="font-size: 2rem" aria-hidden="true">&times;</span>
                </div>
            </div>
            <EditForm Model="@employeeModel">
                <div class="row">
                    <div class="col-4">
                        <div class="edit-foto-background">
                            <img class="avatar-no-img" src="images/user-no-img-avatar.svg" />
                        </div>
                        <label for="edit">yooo</label>
                        <InputFile OnChange="Yooo" id="edit" />
                    </div>

                    <div class="col-8">
                        <InputText @bind-Value="@employeeModel.FullName"></InputText>
                        <InputText @bind-Value="@employeeModel.Email"></InputText>
                        <InputText @bind-Value="@employeeModel.Summary"></InputText>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code
{
    private EditEmployeeModel employeeModel = new();

    [Parameter]
    public EventCallback<bool> SetShow { get; set; }

    private void ClosePopup()
    {
        SetShow.InvokeAsync(false);
    }

    private void Yooo(InputFileChangeEventArgs e)
    {
        Console.WriteLine("yoo");
    }
}

