<div class="modal fade show container modal-custom" style="display:block; background-color: rgba(10,10,10,.8);"
     aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="row modal-header-custom">
                <div class="modal-header-title">Personal Information</div>
                <div @onclick="ClosePopup" class="close header-btn" data-dismiss="modal" aria-label="Close">
                    <span style="font-size: 2rem" aria-hidden="true">&times;</span>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public EventCallback<bool> SetShow { get; set; }

    private void ClosePopup()
    {
        SetShow.InvokeAsync(false);
    }
}

