<table class="table table-body container">
    <thead class="table-head">
    <tr>
        <th scope="col">Employees (64)</th>
        <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < 10; i++)
    {
        <tr>
            <td>Mark @i</td>
            <td>EmployeeEmail@epmloyee @i com</td>
        </tr>
    }
    </tbody>
</table>
