@inject NavigationManager NavigationManager

<div class="footer-container">
    <div>
        1
    </div>
    <div style="background-color: white;"></div>
    <div>
        <div class="footer-bottom-text">
            © UpSkill 2021
        </div>
    </div>
</div>

@code {

}
