@inject NavigationManager NavigationManager

<div class="footer-container">
    <div class="row1-container">
        <div>
            <div style="text-align: center;
                        margin-top: 13%;">
                <div class="upskill-img-text">
                    <img src="/images/footer/UpSkill-logo -white.svg" />
                    upskill
                </div>
                <div class="div-info">
                    Upskill gives everyone the opportunity to grow professionally and develop into a specialist in every field.
                </div>
                <div style="text-align: left;
                            margin-left: 10%;">
                    <button class="footer-get-started-btn">Get Started</button>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: white;"></div>
    <div>
        <div class="footer-bottom-text">
            © UpSkill 2021
        </div>
    </div>
</div>

@code {

}
