@inject NavigationManager NavigationManager

<footer class="footer-card">
    <img src="/images/footer/footer-background.svg" class="background-img" />
    <img src="/images/footer/UpSkill-logo -white.svg" class="upskill-img" />
    <div class="row">
        <div class="div-info col-4">
            Upskill gives everyone the opportunity to grow professionally and develop into a specialist in every field.
            <button class="footer-get-started-btn" @onclick="@(() => NavigationManager.NavigateTo("/registration"))">
                <div class="footer-get-started-btn-text">
                    Get Started
                </div>
            </button>
        </div>
    </div>
    <div class="div-company">
        <div class="div-title-text">
            Company
        </div>
    </div>
    <div class="div-service">
        <div class="div-title-text">
            Services
        </div>
    </div>
    <div class="footer-bottom-background">
        <div class="footer-bottom-text">
            UpSkill 2021
        </div>
        <img src="/images/footer/iconmonstr-copyright-2.svg" alt="Alternate Text" class="footer-bottom-img-copyright" />
    </div>
</footer>

@code {

}
