@inject NavigationManager NavigationManager

<div class="footer-container">
    <div class="row1-container">
        <div>
            <div style="text-align: center;
                        margin-top: 19%;
                        margin-left: 7%;">
                <div class="upskill-img-text">
                    <img src="/images/footer/UpSkill-logo -white.svg" />
                    upskill
                </div>
                <div class="div-info">
                    Upskill gives everyone the opportunity to grow professionally and develop into a specialist in every field.
                </div>
                <AuthorizeView>
                    <NotAuthorized>
                        <div style="text-align: left;
                                margin-left: 10%;">
                            <button class="footer-get-started-btn" @onclick="@(() => NavigationManager.NavigateTo("/registration"))">Get Started</button>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
        <div>
            <div style="text-align: left;
                        margin-top: 75%;">
                <div class="div-company">
                    Company
                </div>
                <div style="
                            margin: -3%;
                            margin-top: 6%">
                    <button class="custom-btn">
                        About us
                    </button>
                </div>
                <div style="
                            margin: -3%;
                            margin-top: 6%">
                    <button class="custom-btn">
                        Contact us
                    </button>
                </div>
                <div style="
                            margin: -3%;
                            margin-top: 6%">
                    <button class="custom-btn">
                        Privacy Policy
                    </button>
                </div>
            </div>
        </div>
        <div>
            <div style="text-align: left;
                        margin-top: 75%;">
                <div class="div-company">
                    Services
                </div>
                <div style="
                            margin: -3%;
                            margin-top: 6%">
                    <button class="custom-btn" @onclick="@(() => NavigationManager.NavigateTo("/Courses-catalog"))">
                        Courses
                    </button>
                </div>
                <div style="
                            margin: -3%;
                            margin-top: 6%">
                    <button class="custom-btn" @onclick="@(() => NavigationManager.NavigateTo("/Coaches-catalog"))">
                        Coaches
                    </button>
                </div>
                <div style="
                            margin: -3%;
                            margin-top: 6%">
                    <button class="custom-btn" onclick="document.getElementById('demo').scrollIntoView({behavior:'smooth'})">
                        Requests
                    </button>
                </div>
            </div>
        </div>
        <div>
            <div style="margin-top: 187%;
                        text-align: left;
                        margin-left: 45%;">
                <div style=" margin: 10%;">
                    <a href="https://www.facebook.com/upskillbd">
                        <img src="/images/footer/facebook-logo.svg" class="my-img" />
                    </a>
                </div>
                <div style=" margin: 10%;">
                    <a href="https://www.instagram.com/up_skills_/">
                        <img src="/images/footer/instagram-logo.svg" class="my-img" />
                    </a>
                </div>
                <div style=" margin: 10%;">
                    <a href="https://www.linkedin.com/company/upskills/">
                        <img id="my-img" src="/images/footer/linkin-logo.svg" class="my-img" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: white;"></div>
    <div>
        <div class="footer-bottom-text">
            © UpSkill 2021
        </div>
    </div>
</div>
