.footer-card {
    position: relative
}
.background-img {

    width: 100%;
    position: relative
}
.upskill-img {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 5%;
}
.upskill-img-text {
    position: absolute;
    top: 26%;
    left: 11%;
    font: normal normal bold 45px/55px Montserrat;
    letter-spacing: 2.25px;
    color: #FFFFFF;
}
.logo-div {
    position: absolute
}