<footer class="footer-card">
    <img src="/images/footer/footer-background.svg" class="background-img"/>
    <img src="/images/footer/upskill-img.svg" class="upskill-img" />
    <div class="upskill-img-text">
        upskill
    </div>
</footer>

@code {

}
