.footer-container {
    height: 400px;
    background: url('/images/footer/footer-background.svg');
    display: grid;
    grid-template-rows: 15fr 1px 1fr;
}

.row1-container {
    display: grid;
    grid-template-columns: 5fr 2fr 2fr 1fr;
}

.upskill-img-text {
    font: bold 175% Montserrat;
    letter-spacing: 2.25px;
    color: #FFFFFF;
    text-align: left;
    margin-left: 10%;
}

.div-info {
    font: normal normal 14px/20px Montserrat;
    color: #FFFFFF;
    text-align: left;
    margin: 6%;
    margin-right: 44%;
    margin-left: 10%;
}

.footer-get-started-btn {
    border-radius: 0px;
    background-color: #FFFFFF;
    color: #0B2969;
    width: 11em;
    height: 2.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
    font: normal normal 600 12px/28px Montserrat;
    letter-spacing: 1.1px;
}

    .footer-get-started-btn:hover {
        background-color: aliceblue;
    }

.div-company {
    font: bold 20px Montserrat;
    letter-spacing: 1.1px;
    color: #FFFFFF;
    margin-right: 8%;
}

.custom-btn {
    background-color: unset;
    color: #FFFFFF;
    width: 9em;
    height: 2.5rem;
    text-align: left;
    margin-top: -1.5rem;
    border: none;
    font: 14px Montserrat;
    outline: none;
    cursor: pointer;
}

    .custom-btn:hover {
        font: bold 17px Montserrat;
        transition-duration: 0.4s;
    }

.my-img {
    width: 30%;
    transition-duration: 0.4s;
}

    .my-img:hover {
        width: 35%;
    }


.footer-bottom-text {
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
}
