<footer class="footer-card">
    <img src="/images/footer/footer-background.svg" class="background-img"/>
    <div class="logo-div">
        <img src="/images/footer/upskill-img.svg" class="upskill-img" />
        <div class="upskill-img-text">
            upskill
        </div>
    </div>
   
</footer>

@code {

}
