
<div class="top-row px-4 auth">
    <div class="logo-container">
        <div>
            <img class="logo" src="/images/registrationPage/logo.svg" />
        </div>
        <div class="brand">
            upskill
        </div>
    </div>

    <div class="">
        <NavLink href="AdminCourse">
            Admin Create Course
        </NavLink>
    </div>

    <div class="">
        <NavLink href="AdminCategory">
            Admin Create Category
        </NavLink>
    </div>

    <div class="">
        <NavLink href="AdminCoach">
            Admin Create Coach
        </NavLink>
    </div>

    <div class="">
        <NavLink href="Courses-catalogue">
            Courses
        </NavLink>
    </div>
    <div class="">
        <NavLink href="Coaches-catalogue">
            Coaches
        </NavLink>
    </div>
    <NavLink>
        <LoginDisplay></LoginDisplay>
    </NavLink>

    <NavLink>
        <Avatar></Avatar>
    </NavLink>
</div>
