@using UpSkill.Infrastructure.Models.ApplicationUser
<div class="top-row px-4 auth">
    <div class="logo-container">
        <div>
            <img class="logo" src="/images/registrationPage/logo.svg" />
        </div>
        <div class="brand">
            upskill
        </div>
    </div>

    <div class="">
        <NavLink href="Courses-catalog">
            Courses
        </NavLink>
        <NavLink href="Coaches-catalog">
            Coaches
        </NavLink>
        <NavLink>
            <LoginDisplay></LoginDisplay>
        </NavLink>

        <AuthorizeView>
            <NavLink>
                <Avatar @ref="avatar"></Avatar>
            </NavLink>
        </AuthorizeView>
</div>
</div>

@code
{

    private Avatar avatar;

    public void Refresh(EditApplicationUserModel model)
    {
        avatar.Refresh(model);
    }
}
