
<div class="top-row px-4 auth">
    <div class="logo-container">
        <div>
            <img class="logo" src="/images/registrationPage/logo.svg" />
        </div>
        <div class="brand">
            upskill
        </div>
    </div>
        <NavLink href="Courses-catalog">
            Courses
        </NavLink>
        <NavLink href="Coaches-catalog">
            Coaches
        </NavLink>
    <NavLink>
        <LoginDisplay></LoginDisplay>
    </NavLink>

    <NavLink>
        <Avatar></Avatar>
    </NavLink>
</div>
