@using UpSkill.Infrastructure.Models.ApplicationUser
<div class="top-row px-4 auth">
    <div class="logo-container">
        <div>
            <img class="logo" src="/images/registrationPage/logo.svg" />
        </div>
        <div class="brand">
            upskill
        </div>
    </div>

    <div class="">
        <NavLink href="Courses-catalog">
            Courses
        </NavLink>
        <NavLink href="Coaches-catalog">
            Coaches
        </NavLink>
        <NavLink>
            <LoginDisplay></LoginDisplay>
        </NavLink>

        <NavLink>
            <Avatar @ref="avatar"></Avatar>
        </NavLink>
    </div>
</div>

@code
{
    private EditApplicationUserModel userModel = new();

    [CascadingParameter]
    public Task<AuthenticationState> user { get; set; }


    protected override async Task OnInitializedAsync()
    {
        userModel = await Client.GetFromJsonAsync<EditApplicationUserModel>($"/ApplicationUsers/GetById/{user.Id().Result}");
    }

    private Avatar avatar;

    public void Refresh(EditApplicationUserModel model)
    {
        userModel = model;
        avatar.Refresh(model);
    }
}
