<div class="mx-auto">
    <table class="table table_custom table-borderless">
        <thead class="head">
            <tr class="">
                <th class="cell-header ">
                    Employees
                </th>
                <th class="separator">

                </th>
                <th class="cell-header ">
                    Active Courses
                </th>
                <th class="separator">

                </th>
                <th class="cell-header">
                    Active Coaches
                </th>
            </tr>
        </thead>

        <tbody>
            <tr class="">
                <td class="cell first_col">
                    @if (statistics.isReady == false)
                    {
                        <div class="spinner-custom"></div>
                    }
                    else
                    {
                    @statistics.Employees
                    }
                </td>

                <td>
                </td>
                <td class="cell second_col">
                    @if (statistics.isReady == false)
                    {
                        <div class="spinner-custom"></div>
                    }
                    else
                    {
                        @statistics.Courses
                    }
                    </td>

                <td>
                </td>
                <td class="cell third_col">
                    @if (statistics.isReady == false)
                    {
                        <div class="spinner-custom"></div>
                    }
                    else
                    {
                        @statistics.Coaches
                    }
                    </td>
            </tr>
        </tbody>
    </table>
</div>


@code {


    private OwnerDashboardStatisticsModel statistics = new() {isReady = false };

    [CascadingParameter]
    public Task<AuthenticationState> user { get; set; }


    protected override async Task OnInitializedAsync()
    {

        var ownerId = user.OwnerId().Result;
        statistics = await Client.GetFromJsonAsync<OwnerDashboardStatisticsModel>($"/Dashboard/GetOwnerStatistics?ownerId={ownerId}");
        statistics.isReady = true;
    }
}



