

<div class="mx-auto">
    <table class="table table_custom table-borderless">
        <thead class="head">
            <tr class="">
                <th class="cell-header ">
                    Employees
                </th>
                <th class="separator">

                </th>
                <th class="cell-header ">
                    Active Courses
                </th>
                <th class="separator">

                </th>
                <th class="cell-header">
                    Active Courses
                </th>
            </tr>
        </thead>

        <tbody>
            <tr class="">
                <td class="cell first_col">
                    3
                </td>
                <td >
                </td>
                <td class="cell second_col">
                    6
                </td>
                <td >
                </td>
                <td class="cell third_col">
                    12
                </td>
            </tr>
        </tbody>
    </table>
</div>


@code {

}



