
<div class="container align-content-center stats col-9">

    <div class="row">
        <div class="col-3 mx-auto ">
            <div class="mx-auto pl-3 border-right">
                <div class="row">
                    <span>Employees</span>
                </div>
                <div class="row">
                    <span class="value">64</span>
                </div>
            </div>
        </div>

        <div class="col-3 mx-auto  ">
            <div class="mx-auto pl-3 border-right">
                <div class="row">
                    <span> Active Courses </span>
                </div>
                <div class="row">
                    <span class="value courses">8</span>
                </div>
            </div>
        </div>

        <div class="col-3 mx-auto">
            <div class="mx-auto pl-3">
                <div class="row ">
                    <span> Active Coaches </span>
                </div>
                <div class="row">
                    <span class="value coaches">3</span>
                </div>
            </div>
        </div>
    </div>

</div>

@code {

}
