.modal-body {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-top: 15%;
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: auto;
}

.wrapper {
    font-family: Montserrat;
    display: grid;
    grid-template-columns: [page-start] 20vw [end-left] 1fr [start-right] 3vw [end-right] 20vw [right-gap] 5em [page-end];
    grid-template-rows: [page-top] 20px [header] 0.5fr [start-title] 8vh [end-title] 1fr [start-description] 10vh [end-description] 1.2fr [start-skills] 8vh [end-skills] 1fr [page-bottom];
    background: white;
    margin-top: 10%;
    max-width: 65%;
    max-height: 75%;
}

.myclose {
    grid-column: 5/6;
    grid-row: 1/3;
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: right;
    margin-right: 10px;
    align-items: end;
    font-weight: lighter;
}

div ::deep .close:hover {
    opacity: 0.99;
}


.btn-close {
    opacity: .75;
    color:red

}

    .btn-close:hover {
        opacity: .99;
        font-weight: 400;
        cursor: pointer;
    }

.title {
    grid-column: page-start / page-end;
    grid-row: page-top / start-description;
    color: white;
    background: #296CFB;
    padding-top: 1.5em;
    padding-left: 2.5em;
}

.description {
    grid-column: 1/3;
    grid-row: 5/7;
    text-align: left;
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    font-size: 0.7rem;
    padding-left: 2.5rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.skills {
    grid-column: 1/3;
    grid-row: 7/9;
    padding: 2.5rem;
    line-height: 1.5em;
    font-size: 0.7rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-top: 0rem;
}

iframe {
    width: 100%;
}

.side-container {
    grid-column: 4/5;
    grid-row: start-title / -2;
    box-shadow: 0px 3px 10px #00000029;
}

.video-container {
    grid-column: end-left / end-right;
    display: flex;
    justify-content: center;
    height: 25vh
}

.btn-enroll {
    border-radius: 0px;
    background-color: #296CFB;
    color: white;
    width: 5em;
    height: 1.8rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

div i.avatar {
    text-align: center;
    font-family: Montserrat,sans-serif;
    border-radius: 50%;
    background-image: url("https://careermanifestations.com/wp-content/uploads/2018/04/Irina.jpg");
    background-size: contain;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 3px;
    height: 75px;
    width: 75px;
    font-style: normal;
    vertical-align: middle;
    display: inline-block;
}

.creator {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    justify-content: center;
    line-height: 1rem;
    font-size: 0.8em;
    text-align: left;
}

.avatar-container {
    display: flex;
    margin-top: 2rem;
}

.company {
    font-size: 0.7em;
    margin-top: 0.6em;
}

.course-summary {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    padding-left: 2em;
    font-size: 0.7rem;
}

.course-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    margin-top: 1rem;
}

.sub-title {
    font-size: 0.7rem;
    font-weight: 600;
    margin-bottom: 0.75em;
}

.skill {
    margin-top: 0.5em;
    padding-left: 1rem;
}

    .skill:before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        background: #296CFB;
        margin-left: -13px;
    }

.icon {
    height: 0.9em;
    width: 0.9em;
}

.summary-bullet {
    text-align: left;
}

div {
    display: inline-block;
}
