<div class="modal fade show" style="display:block; background-color: rgba(10,10,10,.8);"
     aria-modal="true">

    <div class="wrapper mx-auto">

        <div @onclick="ClosePopup" class="myclose" data-dismiss="modal" aria-label="Close">
            <span class="btn-close" aria-hidden="true">&times;</span>
        </div>
        <div class="calendly-inline-widget" data-url="https://calendly.com/upskillz/elon-musk-technology-leadership" style="min-width:320px;height:630px;"></div>
    </div>
</div>

@code {



    [CascadingParameter]
    public Task<AuthenticationState> user { get; set; }


    [Parameter]
    public EventCallback<bool> SetShowSessionValue { get; set; }

    private void ClosePopup()
    {
        SetShowSessionValue.InvokeAsync(false);
    }
}


