.img-background {
    background-image: url("/images/registrationPage/background.svg");
    position: relative;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    width: 65vw;
}

.img-decoration {
    height: 60%;
    width: 40%;
    position: absolute;
    left: 9%;
    bottom: 16%;
}

.wrapper {
    position: absolute;
    padding: 0;
    margin: 0;
    text-align: center;
}

.img-logo {
    width: 30%;
}

.brand {
    margin-bottom: 3em;
}

input, ::deep input {
    border: 1px solid;
    border-color: var(--color-blue-primary);
    margin-bottom: 1em;
    width: clamp(20rem, 25vw, 30rem);
    padding: .4em;
}

    input, ::deep input::placeholder {
        color: var(--color-blue-primary);
        font-size: 0.8em;
        padding-left: 2em;
    }

        input, ::deep input::placeholder:after {
            font-size: 1rem;
            content: '*';
            color: red;
        }

.button_logout {
    color: white;
    border: none;
    background-color: var(--color-blue-primary);
    margin-top: 1em;
    padding: 0.25em 1em;
}

@media (max-width: 750px) {
    .body {
        font-size: 4rem;
    }

    .images {
        display: none;
    }

    .input_group {
        width: 100%;
        flex-direction: column;
    }

    .brand {
        display: block;
        align-self: center;
        width: 100%;
    }
    .wrapper {
        right: 25%;
        top: 10%;
    }
}
