@page "/SignUp"
@layout EmptyLayout
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]


<div class="everything d-none d-lg-block">
    <img src="/images/SignUpBackground.svg" class="img-background d-none d-sm-block col-6 img-fluid" alt="Responsive Background">
    <img src="/images/PersonMockUp.svg" class="PersonMockUp" />
    <button type="button" class="btn btn-outline-primary SignUpButton col-4">SignUp as Business Owner</button>
    <img src="/images/UpSkillArrowLogo.svg" class="UpSkillLogo">
    <h6 class="AlreadyRegistered col-md-4">Already have an account?</h6>
    <a href="/login" class="SignInHere col-md-2">LogIn here.</a>
</div>

<div class="everything d-none d-md-block d-lg-none">
    <img src="/images/SignUpBackground.svg" class="img-background d-none d-sm-block col-6 img-fluid" alt="Responsive Background">
    <img src="/images/PersonMockUp.svg" class="PersonMockUp" />
    <button type="button" class="btn btn-outline-primary SignUpButton col-4">SignUp as Business Owner</button>
    <img src="/images/UpSkillArrowLogo.svg" class="UpSkillLogo">
    <h6 class="AlreadyRegistered col-md-4" style="top: 65%;">Already have an account?</h6>
    <a href="/login" class="SignInHere col-md-2" style="left: 90%; top: 65%;">LogIn here.</a>
</div>

<div class="d-block d-sm-none">
    <img src="/images/UpSkillArrowLogo.svg" class="UpSkillLogoMobile">
    <button type="button" class="btn btn-outline-primary SignUpButtonMobile col-10">SignUp as Business Owner</button>
    <h6 class="AlreadyRegisteredMobile col-12 text-center">Already have an account?</h6>
    <a href="/login" class="SignInHereMobile col-12 text-center">LogIn here.</a>
</div>