@page "/Courses/Add"
@layout NoMenuLayout

<div class="row">
    <CoursesTopCard></CoursesTopCard>

    @for (int i = 1; i < 5; i++)
    {
        <ResourceCard></ResourceCard>
    }

    <div class="col-sm-12 col-md-6 col-lg-4 mb-2 p-md-2 p-lg-5" style="position: relative;">
        <input type="image" src="images/PlusButton.svg" style="position: absolute; top: 40%;" alt="Add Button">
    </div>
</div>