@page "/admin/dashboard"
@layout AdminLayout
@using UpSkill.ClientSide.Controls

<AuthorizeView Roles="Administrator">
    @*<h3>Admin Dashboard</h3>*@

    <AdminDashboardStatistics></AdminDashboardStatistics>
</AuthorizeView>



@code {

}
