@page "/admin/course/edit/{id}"
@using UpSkill.Infrastructure.Models.Course
<h3>Admin Edit Course</h3>

<EditForm Model="EditModel" OnValidSubmit="Edit">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label for="name" class="col-md-2 col-form-label">Name</label>
        <div class="col-md-10">
            <InputText id="name" class="form-control" @bind-Value="EditModel.Name" placeholder="@EditModel.Name" />
            <ValidationMessage For="@(() => EditModel.Name)" />
        </div>
    </div>
</EditForm>

@code {
    [Inject]
    public HttpClient Client { get; set; }

    public CourseEditInputModel EditModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.EditModel = await this.Client
            .GetFromJsonAsync<CourseEditInputModel>("/admin/course");
    }

    public async Task Edit()
    {

    }
}
