@page "/admin/coach/all"
@using UpSkill.Infrastructure.Models.Coach

<style>
    .pageMainGrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1rem;
    }

        .pageMainGrid .gridCol {
            border-bottom: 2px solid #296cfb;
            text-align: center;
            vertical-align: central;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

            .pageMainGrid .gridCol a {
                margin: .2em;
            }
</style>

<h3>AdminCoachAll</h3>

<div class="pageMainGrid">
    <div class="gridCol">Id</div>
    <div class="gridCol">Name</div>
    <div class="gridCol">Actions</div>
    @foreach(var coach in allCoachesInDb)
    {
        <div class="gridCol">@coach.Id</div>
        <div class="gridCol">@coach.FullName</div>
        <div class="gridCol">
            <a href="/admin/coach/edit/@coach.Id">Edit</a>
            <a>Delete</a>
        </div>
    }
</div>

@code {
    private IEnumerable<AdminCoachListingServiceModel> allCoachesInDb =
        new List<AdminCoachListingServiceModel>();

    //[Inject]
    //public HttpClient Client { get; set; }


    protected override async Task OnInitializedAsync()
    {
        this.allCoachesInDb = await this.Client
        .GetFromJsonAsync<IEnumerable<AdminCoachListingServiceModel>>("admin/coach/all");
    }
}
