@page "/Coaches-catalog"
@using UpSkill.Infrastructure.Models.Coaches
@layout NoMenuLayout
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]


<CheckboxesPanel></CheckboxesPanel>

@if (coaches == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="row mt-5">
        @foreach (var coach in coaches.Coaches)
        {
            <CoachCard Coach="coach" OwnerId="@coaches.OwnerId" CoachIdsCollection="@coaches.OwnerCoachCollectionIds" UpdatedCoachesListingCatalogModel="SetCoaches"></CoachCard>
        }
    </div>

}


@code {

    [CascadingParameter]
    public Task<AuthenticationState> user { get; set; }

    private CoachesListingCatalogModel coaches;


    protected override async Task OnInitializedAsync()
    {
        var userId = user.Id().Result;

        coaches = await CoachesService.GetAllAsync(userId);

    }

    private void SetCoaches(CoachesListingCatalogModel updatedCoaches)
    {
        coaches = updatedCoaches;
    }

}
