@page "/Coaches"

<div class="text-right">
    <button class="btn-add">
        <div class="btn-text">
            Add
        </div>
    </button>
</div>

<div class="row">
    @for (int i = 1; i < 10; i++)
    {
    <CoachCard></CoachCard>
    }
</div>
