@page "/Coaches"
@using UpSkill.Infrastructure.Models.Coaches

@if (user.Role().Result == "Owner")
{
    <div class="text-right">
        <button @onclick="@(() => { NavigationManager.NavigateTo("/Coaches-catalog");})" class="btn-add">
            <div class="btn-text">
                Add
            </div>
        </button>
    </div>
}

@if (coaches == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="row">
        @foreach (var coach in coaches.Coaches)
        {
            <CoachCard Coach="coach" OwnerId="@coaches.OwnerId" CoachIdsCollection="@coaches.OwnerCoachCollectionIds" UpdatedOwnerCoachesListingCatalogModel="SetCoaches"></CoachCard>
        }
    </div>
}

@code
{

    [CascadingParameter]
    public Task<AuthenticationState> user { get; set; }

    private CoachesListingCatalogModel coaches;

    protected override async Task OnInitializedAsync()
    {
        var ownerId = user.OwnerId().Result;

        coaches = await CoachesService.GetAllByOwnerIdAsync(ownerId);
    }

    private void SetCoaches(CoachesListingCatalogModel updatedCoaches)
    {
        coaches = updatedCoaches;
    }
}