@page "/Coaches-catalog"
@layout NoMenuLayout
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]


    <h1 class="mx-3">Coach Catalog</h1>

    <div class="row">
        @for (int i = 1; i < 10; i++)
        {
            <CoachCard></CoachCard>
        }
    </div>

    @code {

    }
