@page "/Coaches"
@using UpSkill.Infrastructure.Models.Coaches
<div class="text-right">
    <button @onclick="@(() => { NavigationManager.NavigateTo("/Coaches-catalog");})" class="btn-add">
        <div class="btn-text">
            Add
        </div>
    </button>
</div>

<div class="row">
    @foreach (var coach in coaches.Coaches)
    {
        <CoachCard Coach="coach" OwnerId="@coaches.OwnerId" CoachIdsCollection="@coaches.OwnerCoachCollectionIds"></CoachCard>
    }
</div>
@code
{
    [CascadingParameter]
    public Task<AuthenticationState> user { get; set; }

    private CoachesListingCatalogModel coaches = new ();

    protected override async Task OnInitializedAsync()
    {
        var userId = user.Id().Result;

        coaches = await Client.GetFromJsonAsync<CoachesListingCatalogModel>($"/coaches/GetAllByOwnerId?userId={userId}");
    }
}
