@page "/Coaches-catalogue"
@layout NoMenuLayout

<h1 class="mx-3">Coach Catalogue</h1>

<div class="row">
    @for (int i = 1; i < 10; i++)
    {
        <CoachCard></CoachCard>
    }
</div>

@code {

}
