@page "/Courses-catalog"
@layout NoMenuLayout
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]

@if (model == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="row mt-5">
        @foreach (var course in courses)
        {
            <CourseCard Course="course"></CourseCard>
        }
    </div>

}

@code {

    [CascadingParameter]
    public Task<AuthenticationState> user { get; set; }

    private CoursesListingCatalogModel model;

    private ICollection<CourseInListCatalogModel> courses = new List<CourseInListCatalogModel>();

    protected override async Task OnInitializedAsync()
    {
        var ownerId = user.OwnerId().Result;

        model = await CoursesService.GetAllAsync(ownerId);

        courses = model.Courses;
    }

}
