@page "/Dashboard"
<h3>Dashboard</h3>


@if (user.Role().Result == "Owner")
{
    <OwnerDashboardStatistics></OwnerDashboardStatistics>
    <CoursesDashboardTable></CoursesDashboardTable>
    <CoachesDashboardTable></CoachesDashboardTable>
}
else
{
    <EmployeeDashboardScheduler></EmployeeDashboardScheduler>
}

@code {
    [CascadingParameter]
    public Task<AuthenticationState> user { get; set; }
}
