@page "/Dashboard"
<h3>Dashboard</h3>

<OwnerDashboardStatistics></OwnerDashboardStatistics>
<CouursesDashboardTable></CouursesDashboardTable>
<CoachesDashboardTable></CoachesDashboardTable>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> user { get; set; }
}
