@page "/demoSuccess"

<style>
    .demoOutcome {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 1em 2em;
        vertical-align: middle;
        margin: 1em;
    }
</style>

<div class="demoOutcome">
    <img src="images/DemoSuccess.png" alt="Demo Sent Successfully" />
    <h4>Your demo was successfully sent. Please check your email.</h4>
</div>


@code {

}
