@page "/demoFail"

<style>
    .demoOutcome {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 1em 2em;
        vertical-align: middle;
        margin: 1em;
    }
</style>
<div class="demoOutcome">
    <img src="images/DemoFail.jpg" alt="Demo was not sent" />
    <h3>UpSkill could not send you a demo.</h3>
</div>

@code {

}
