@page "/Grades"

@if (model == null)
{
    <div class="spinner"></div>
}
else
{
    <EmployeeCoursesAchievementsTable Courses="model.Courses"/>
    <EmployeeCoachesAchievementsTable Coaches="model.Coaches"/>
}

@code {

    private EmployeeAchievementsModel model;

    [CascadingParameter]
    public Task<AuthenticationState> user { get; set; }

    protected override async Task OnInitializedAsync()
    {
        model = await Client.GetFromJsonAsync<EmployeeAchievementsModel>
            ($"Employees/GetAchievementsModelAsync?userId={user.Id().Result}");
    }

}
