﻿.everything {
  position: relative;
  text-align: center;
  color: white;
}

/* UpSkill Logo */
.UpSkillLogo {
    position: absolute;
    top: 20%;
    left: 75%;
    width: 10%;
    height: 10%;
    transform: translate(-50%, -50%);
}

/* PersonMockup */
.PersonMockUp {
    position: absolute;
    top: 50%;
    left: 17%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
}

/* Welcome message */
.WelcomeMessage {
    position: absolute;
    top: 30%;
    left: 75%;
    transform: translate(-50%, -50%);
    font: normal normal bold 50px/85px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

/* Please login message */
.PleaseLogin {
    text-align: left;
    font: normal normal medium 22px/42px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    position: absolute;
    top: 35%;
    left: 75%;
    transform: translate(-50%, -50%);
}

/* Email text box */
.EmailTextBox {
    text-align: left;
    font: normal normal medium 22px/27px Montserrat;
    letter-spacing: 1.1px;
    opacity: 1;
    position: absolute;
    top: 45%;
    left: 75%;
    transform: translate(-50%, -50%);
}

/* Password text box */
.PasswordTextBox {
    text-align: left;
    font: normal normal medium 22px/27px Montserrat;
    letter-spacing: 1.1px;
    opacity: 1;
    position: absolute;
    top: 55%;
    left: 75%;
    transform: translate(-50%, -50%);
}

/* Remember Me checkbox */
.RememberMeCheckBox {
    font: normal normal medium 22px/27px Montserrat;
    letter-spacing: 0px;
    color: #296CFB;
    opacity: 1;
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
}

/* ForgotPassword */
.ForgotPassword {
    text-decoration: underline;
    font: normal normal medium 22px/27px Montserrat;
    letter-spacing: 0px;
    color: #296CFB;
    opacity: 1;
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
}

/* Log In Button */
.LogInButton {
    font: normal normal bold 22px/27px Montserrat;
    letter-spacing: 1.1px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
    top: 85%;
    left: 70%;
    transform: translate(-50%, -50%);
}

/* Sign Up Button */
.SignUpButton {
    font: normal normal bold 22px/27px Montserrat;
    letter-spacing: 1.1px;
    color: #296CFB;
    opacity: 1;
    position: absolute;
    top: 85%;
    left: 80%;
    transform: translate(-50%, -50%);
}