.img-background {
    background-image: url("/images/registrationPage/background.svg");
    position: relative;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    width: 65vw;
}


.img-decoration {
    height: 60%;
    width: 40%;
    position: absolute;
    left: 9%;
    bottom: 16%;
}

.wrapper {
    padding: 0;
    margin: 0;
    text-align: center;
}


brand {
    margin-bottom: 1em;
    align-self: baseline;
}

.input_group{
}

.input_form{
    width: 20%;
}

input, ::deep input {
    border: 1px solid;
    border-color: #296CFB;
    margin-bottom: .5em;
}

    input, ::deep input::placeholder {
        color: var(--color-blue-primary);
        font-size: 0.8em;
        padding-left: 10%;
    }


        input, ::deep input::placeholder:after {
            content: "*";
            color: red;
        }

.button_logout {
    color: white;
    border: none;
    background-color: var(--color-blue-primary);
    padding: 0.25em 1em;
}

@media (max-width: 750px) {
    .images {
        display: none;
    }

    .input_group{
    width:100%;
    flex-direction:column;
    }

    .brand{
    display:block;
    align-self: center;
    }

    
}
