.welcome-page-card {
    height: 3321px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.get-started-title {
    height: 256px;
    text-align: left;
    font: bold 50px Montserrat;
    letter-spacing: 0px;
    color: #000000;
}

.get-started-img-background {
    height: 650px;
    background: transparent url('/images/welcomePage/get started background.png') 0% 100% no-repeat padding-box;
}

.get-started-img {
    margin-right: 13%;
    margin-top: 30%;
    float: right;
    width: 40%;
    height: auto;
}

.get-started-content {
    text-align: left;
    font: normal normal 18px/30px Montserrat;
    letter-spacing: 0px;
    color: #000000;
}

.get-started-btn {
    margin-top: 13%;
    width: 220px;
    height: 55px;
    background: #296CFB 0% 0% no-repeat padding-box;
}

.get-started-btn-text {
    height: 27px;
    text-align: center;
    font: normal normal bold 15px/28px Montserrat;
    letter-spacing: 1.1px;
    color: #FFFFFF;
}
