.welcome-page-card {
    height: 3321px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.get-started-title {
    text-align: left;
    font: bold 300% Montserrat;
    letter-spacing: 0px;
    color: #000000;
}

.get-started-img-background {
    height: 650px;
    background: transparent url('/images/welcomePage/get started background.svg') 0% 100% no-repeat padding-box;
}

.get-started-img {
    margin-right: 13%;
    margin-top: 32%;
    float: right;
    width: 40%;
    height: auto;
}

.get-started-content {
    margin-top: 8%;
    letter-spacing: 0;
    color: #000000;
}

.get-started-btn {
    margin-top: 13%;
    width: 22%;
    height: 6%;
    background: #296CFB;
}

.get-started-btn-text {
    text-align: center;
    font: 90% Montserrat;
    letter-spacing: 1.1px;
    color: #FFFFFF;
}
