@page "/welcome/grid"

<main>
    <div id="welcomeMainGrid">
        <!-- Upper part -->
        <div class="mainGridCol">
            <div id="welcomeUpperLeft">
                <h1>Do You Wan To Level Up The Knowledge Of Your Team?</h1>
                <p>
                    Upskill gives everyone the opportunity to grow professionally
                    and develop into a specialist in every field. We inspire your
                    people to master their skills and become the best version of
                    themselves. Through our unique, personalised, user-friendly experience,
                    your business is ready to reach new heights.
                </p>

                <button id="upper" class="welcomeButton">Get Started</button>
            </div>

            <div id="welcomeUpperRight">
                <img src="UpSkillAssets/Welcome_UpperRight_Woman_illustration.svg" />
            </div>
        </div>

        <!-- Middle part -->
        <div class="mainGridCol">

            <!-- Mid part left -->

            <div id="midPartLeft">
                <img src="UpSkillAssets/Welcome_MidMan_Illustration.svg" />
            </div>

            <!-- Mid part right -->

            <div id="midPartRight">
                <h1>What <span class="brandName">UpSkill</span> does?</h1>
                <p>
                    We help businesses as well as individuals learn new skills
                    and gain knowledge on various topics while exploring
                    different sources and getting certified. If you need personal
                    time with a specialist, don’t hesitate to book your slot with
                    one of our top coaches.
                </p>

                <button class="welcomeButton">Explore Courses</button>
                <button id="midRightButton" class="welcomeButton">Find Coaches</button>
            </div>
        </div>

        <!-- Lower Part -->
        <div class="mainGridCol">

            <!-- Lower part left -->

            <div id="lowerLeft">
                <h1>Request a demo</h1>
                <p>
                    Don’t find what you are looking for? We would be more
                    than happy to help you and assist you in everything
                    you need! Let us know about your personal requirements
                    by filling our request form:
                </p>

                <form>
                    <div>
                        <input id="" name="" />
                        <input id="" name="" />
                    </div>

                    <div>
                        <input id="" name="" />
                        <input id="" name="" />
                    </div>

                    <div>
                        <button class="welcomeButton">Submit</button>
                    </div>
                </form>
            </div>

            <!-- Lower part right -->

            <div id="lowerRight">
                <img src="UpSkillAssets/Welcome_LowerRightWOman_Illustration.svg" />
            </div>
        </div>
    </div>
</main>
