.welcome-page-card {
    height: 3321px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.get-started-title {
    height: 256px;
    text-align: left;
    font: bold 50px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.get-started-img-background {
    height: 650px;
    background: transparent url('/images/welcomePage/get started background.png') 0% 100% no-repeat padding-box;
}

.get-started-img {
    margin-right: 13%;
    margin-left: 15%;
    margin-bottom: 15%;
    margin-top: 27%;
    float: right;
    width: 40%;
    height: auto;
}
