@page "/"
@inject NavigationManager NavigationManager

<div class="welcome-page-card container">
    <div class="row">
        <div class="col-6">
            <div class="get-started-title">
                Do you want to level up the knowledge of your team?
            </div>
        </div>
        <div class="get-started-img-background container col-6">
            <img src="/images/welcomePage/get started img.png" class="get-started-img img-fluid" />
        </div>

    </div>
</div>

@code {

    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }

    ClaimsPrincipal user;

    protected override async Task OnInitializedAsync()
    {
        user = (await authenticationState).User;

        if (user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/dashboard");
        }
    }

}
