@page "/"
@inject NavigationManager NavigationManager

<div class="welcome-page-card container">
    <div class="row">
        <div class="get-started-title col-6">
            Do you want to level up the knowledge of your team?
        </div>
        <div class="get-started-img-background col-6">

        </div>

    </div>
</div>

@code {

    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }

    ClaimsPrincipal user;

    protected override async Task OnInitializedAsync()
    {
        user = (await authenticationState).User;

        if (user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/dashboard");
        }
    }

}
