.coach-company-logo {
    max-width: 80%;
    max-height: 2rem;
}

.coach-profession {
    font: normal bold 70% Montserrat;
    letter-spacing: 0.7px;
    color: #000000;
    opacity: 1;
}

.coach-name {
    font: 75% Montserrat;
    letter-spacing: 0.7px;
    color: #000000;
    opacity: 1;
}

.coah-price {
    font: 65% Montserrat;
    letter-spacing: 0.7px;
    color: #296CFB;
    opacity: 1;
}

.coach-btn {
    background: #296CFB 0% 0% no-repeat padding-box;
    border: 2px solid #296CFB;
    margin-top: 1em;
    opacity: 1;
    color: white;
    padding: 0.25em;
    width: 50%;
}

.feedback {
    background: white;
    color: #296CFB;
}

.coach-btn-text {
    font: 95% Montserrat;
    letter-spacing: 1.1px;
    color: #FFFFFF;
    opacity: 1;
}

.custom-coach-card {
    box-shadow: 0px 3px 10px #00000029;
}

.img-custom {
    cursor: pointer;
    top: -13%;
    height: 113%;
    width: 75%;
    left: 12%;
    position: absolute;
}

.card-img-top-custom {
    height: 150px;
    width: 287px;
    background-color: #1CC18A;
    padding-left: 10px;
    position: relative;
    left: -6%;
}

.row-name-and-cat {
    min-height: 3rem;
    display: flex;
    align-items: center;
}

.row-price-and-logo {
    min-height: 3rem;
    display: flex;
    align-items: center;
}

.left-container {
    display: flex;
    min-height: 2rem;
    align-items: flex-start;
    justify-content: initial;
    text-align: start;
}
.right-container {
    display: flex;
    min-height: 2rem;
    align-items: flex-start;
    justify-content: end;
    text-align: end;
}

.logo-container {
    min-height: 2rem;
    max-height: 2rem;
}
