/*#region row 1 */
.get-started-title {
    margin-top: 5%;
    margin-left: 12%;
    font: bold 300% Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-align: left;
}

.get-started-content {
    margin-top: 3%;
    margin-left: 10%;
    text-align: left;
    font: normal normal medium 22px/42px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.get-started-img-background {
    width: 50%;
    height: 230px;
    background: transparent url('/images/CoachesTopBackground.svg') 0% 100% no-repeat padding-box;
}

.get-started-img {
    margin-right: 18%;
    margin-top: 6%;
    float: right;
    width: 50%;
    height: auto;
}
