:root {
    --color-blue-primary: #296CFB;
    --color-white-primary: white;
    --color-light-green: rgb(41, 108, 251);
    --color-light-green-low-opacity: rgba(41, 108, 251, 0.1);
    --color-light-blue-nav: #ebf1ff;
    --color-blue-green-aqua: rgb(22, 214, 150);
    --color-blue-green-aqua-low-opticaly: rgba(22, 214, 150, 0.1);
}
