:root {
    --color-blue-primary: #296CFB;
    --color-white-primary: white;
    --color-light-green: rgba(41, 108, 251);
    --color-light-green-low-opacity: rgba(41, 108, 251, 0.1);
    --color-light-blue-nav: #ebf1ff;
}
