/* Specicifity issues  */

article.resource-card {
    font: normal normal medium 18px/22px Montserrat;
    /* text-align: center; */
    letter-spacing: 0.9px;
    /* left: 150px; */
    /* width: 450px; */
    /* height: 450px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #00000029;
}

div.resource-top > p.resource-title {
    color: var(--color-white-primary);
    font: normal normal 800 40px/152px Montserrat;
    line-height: 1.2;
    letter-spacing: 0px;
    text-align: center;
}

div.resource-top > img.resource-image {
    filter: brightness(70%);
}

p.resource {
    vertical-align: bottom;
}

    p.resource > span.resource-name {
        font-weight: bold;
        margin-bottom: 0;
    }

    p.resource > span.resource-price {
        color: var(--color-blue-primary);
    }

p.author {
    vertical-align: top;
}

    p.author > span.resource-author {
        margin-bottom: 0;
    }

button.btn.action {
    color: var(--color-white-primary);
    background-color: var(--color-blue-primary);
    border-radius: 0;
    text-align: center;
    font: normal normal bold 22px/27px Montserrat;
    letter-spacing: 1.1px;
    /* left: 300px; */
    /* width: 150px; */
    /* height: 50px; */
    background: #296CFB 0% 0% no-repeat padding-box;
}