<div class="top-row px-4 auth">
    <div class="logo-container">
        <div>
            <img class="logo" src="/images/registrationPage/logo.svg" />
        </div>
        <div class="brand">
            upskill
        </div>
    </div>

    <div class="">
        <NavLink href="/admin/category/all">
            Categories
        </NavLink>
    </div>

    <div class="">
        <NavLink href="/admin/language/all">
            Languages
        </NavLink>
    </div>

    <div class="">
        <NavLink href="/create/lecture">
            Create Lecture
        </NavLink>
    </div>

    <div class="">
        <NavLink href="/admin/course/all">
            Courses
        </NavLink>
    </div>

    <div class="">
        <NavLink href="/admin/coach/all">
            Coaches
        </NavLink>
    </div>
    <NavLink>
        <LoginDisplay></LoginDisplay>
    </NavLink>

    <NavLink>
        <AdminAvatar></AdminAvatar>
    </NavLink>
</div>
