@using UpSkill.ClientSide.Authentication.Services.Contracts
@inject IAuthenticationService AuthenticationService

<ul class="nav flex-column position-fixed border-light">
    <li class="nav-item px-3">
        <div class="d-inline-flex p-3 align-content-center">
            <Avatar></Avatar>
            <div class="ml-2 text-left">
                <div class=" mt-1 pb-1">
                    @user.FullName().Result
                </div>
                <div class="my-1">
                    @user.CompanyName().Result
                </div>
            </div>
        </div>
    </li>

    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/admin/dashboard">
            Dashboard
        </NavLink>
    </li>

    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/admin/clients">
            Clients
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/admin/revenue">
            Revenue
        </NavLink>
    </li>

    <AuthorizeView>
        <Authorized>
            <li class="nav-item px-3">
                <NavLink class="logout-button nav-link " @onclick="AuthenticationService.Logout"><div>Log Out</div></NavLink>
            </li>
        </Authorized>
    </AuthorizeView>
</ul>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> user { get; set; }
}