@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using UpSkill.ClientSide.Authentication.Services.Contracts
@using Microsoft.AspNetCore.Components


@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <NotAuthorized>
        <button class="login_button" @onclick=@(() => RedirectToPage("/LogIn"))>LogIn</button>
        <button href="" class="demo_button" onclick="document.getElementById('demo').scrollIntoView({behavior:'smooth'})">Request a Demo</button>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void RedirectToPage(string pagePath)
    {
        NavigationManager.NavigateTo(pagePath);
    }
}

