@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using UpSkill.ClientSide.Authentication.Services.Contracts

@inject IAuthenticationService AuthenticationService
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <button class="nav-link btn btn-link" @onclick="AuthenticationService.Logout">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="Registration">Register</a>
        <a href="Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{ 
    

    //private async Task BeginSignOut(MouseEventArgs args)
    //{
    //    await SignOutManager.SetSignOutState();
    //    Navigation.NavigateTo("/");
    //}
}
