@inherits LayoutComponentBase

<div class="top-row px-4 auth">
    <div class="logo-container">
        <div>
            <img class="logo" src="/images/registrationPage/logo.svg" />
        </div>
        <div class="brand">
            upskill
        </div>
    </div>

    <div class="">
        <NavLink>
            <LoginDisplay></LoginDisplay>
        </NavLink>

        
            <NavLink>
                <Avatar @ref="avatar"></Avatar>
            </NavLink>
    </div>
</div>


<div id="mainGrid">
    @Body
</div>

<Footer></Footer>

@code{
    private Avatar avatar;
}
