@inherits LayoutComponentBase

<Header></Header>

<div class="row">
    <div class="col-3">
        <AuthorizeView>
            <NavMenu />
        </AuthorizeView>
    </div>
    <div class="col-auto">
        @Body
    </div>
</div>

<Footer></Footer>

