@using UpSkill.ClientSide.Controls
@using UpSkill.ClientSide.Pages
@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        <div class="sidebar">
            <NavMenu />
        </div>
    </AuthorizeView>
    <div class="main">
        <div class="top-row px-4 auth">
            <NavLink>
                <LoginDisplay></LoginDisplay>
            </NavLink>
            <div class="">
                <NavLink href="Courses">
                    Courses
                </NavLink>
            </div>
            <div class="">
                <NavLink href="Coaches">
                    Coaches
                </NavLink>
            </div>
            <NavLink>
                <Avatar></Avatar>
            </NavLink>
        </div>


        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

