@using UpSkill.ClientSide.Controls
@inherits LayoutComponentBase

<div class="page">
    <div >
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
                <NavLink>
                    <LoginDisplay></LoginDisplay>
                </NavLink>
            <AuthorizeView>
                <div class="">
                    <NavLink>
                        Courses
                    </NavLink>
                </div>
                <div class="">
                    <NavLink href="Coaches">
                        Coaches
                    </NavLink>
                </div>
                <NavLink>
                    <Avatar></Avatar>
                </NavLink>
            </AuthorizeView>
        </div>


        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
