@inherits LayoutComponentBase

<div class="wrapper">
    <AuthorizeView>
        <div class="header">
            <Header></Header>
        </div>
        <div class="sidebar-1">
            <div class="sticky-content">
                <NavMenu show="SetShowValue" />
            </div>
        </div>
    </AuthorizeView>

    <div class="content">
        <div class="sticky-spacer"></div>
        <div class="sticky-content">
            @Body
        </div>

        @* Modal *@
        @if (show)
        {
            <EditEmployeeModal SetShow="SetShowValue"></EditEmployeeModal>
        }

    </div>
    <div class="footer">
        <Footer></Footer>
    </div>
</div>

<BlazoredToasts Position="ToastPosition.TopRight"
                IconType="IconType.Material"
                InfoIcon="school"
                Timeout="100000"
                WarningIcon="warning" ></BlazoredToasts>

@code{

    private bool show = false;


    //private void ShowPopup()
    //{
    //    show = true;
    //}

    private void SetShowValue(bool value)
    {
        show = value;
    }


}
