@using UpSkill.Infrastructure.Models.ApplicationUser
@inherits LayoutComponentBase

<div class="wrapper">
        <AuthorizeView>
            <div class="header">
                <Header @ref="header"></Header>
            </div>
            <div class="sidebar-1">
                <div class="sticky-content">
                    <NavMenu show="SetShowValue" @ref="navMenu" />
                </div>
            </div>
        </AuthorizeView>

    <div class="content">
        <div class="sticky-spacer"></div>
        <div class="sticky-content">
            @Body
        </div>

        @* Modal *@
        @if (show)
        {
            <EditUserModal SetShow="SetShowValue" updatedUserModel="SetUpdatedUserModel"></EditUserModal>
        }

    </div>
    <div class="footer">
        <Footer></Footer>
    </div>
</div>

<BlazoredToasts Position="ToastPosition.TopRight"
                IconType="IconType.Material"
                InfoIcon="school"
                Timeout="100000"
                WarningIcon="warning"></BlazoredToasts>

@code{

    private bool show = false;

    private NavMenu navMenu;

    private Header header;



    private void SetShowValue(bool value)
    {
        show = value;
    }

    private void SetUpdatedUserModel(EditApplicationUserModel model)
    {
        navMenu.Refresh(model);
        header.Refresh(model);
    }

}
