@using UpSkill.ClientSide.Controls
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">

        <div class="top-row px-4 auth">
            <div class="">
                <NavLink>Courses</NavLink>
            </div>
            <div class="">
                <NavLink>Coaches</NavLink>
            </div>
            <NavLink>
                <Avatar></Avatar>
            </NavLink>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
