.navbar-toggler {
    background-color: #296CFB;
    border-color: black;
    border: 2px;
}



.sidebar {
    background-color: #296CFB1A;
    max-width: 600px;
}

.top-row {
    max-height: 160px;
    min-height: 4.1em;
    background-color: white;
    box-shadow: 8px 3px 6px #00000029;
}

.brand {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: black;
    text-transform: lowercase;
    padding-left: 0.5em
}
.brand:hover{
    text-decoration:none;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

a > div {
    color: #E84855;
}

    a > div:hover {
        color: white;
        cursor: pointer;
    }

div > div {
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 500;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    padding-left: 3em;
    padding-right: 3em;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
        
    }

    .nav-item > a:last-child {
        border-bottom: none;
    }

    .nav-item ::deep a {
        color: #000;
        font-size: 16px;
        font-family: Montserrat;
        font-weight: 500;
        height: 2rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        border-bottom: 1px solid;
        border-bottom-color: darkgray;
        padding-left: 0em;
    }

        .nav-item ::deep a.active {
            background-color: none;
            font-family: Montserrat;
            font-weight: 500;
            color: #296CFB;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }



@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
